<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Libros</title>
</head>
<body>


    <div class="col-6 justify-content-center">
        <input type="hidden" id="id" {% if libro %} value="{{ libro.id }}" {% endif %}>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre del libro" {% if libro %} value="{{ libro.nombre }}" {% endif %}>
        </div>
        <div class="mb-3">
            <label for="autor" class="form-label">Autor</label>
            <input type="text" class="form-control" id="autor" placeholder="Ingrese nombre del autor del libro" {% if libro %} value="{{ libro.autor }}" {% endif %}>
        </div>
        <div class="mb-3">
            <label for="categoria" class="form-label">Categoria</label>
            <input type="text" class="form-control" id="categoria" placeholder="Ingrese categoria del libro" {% if libro %} value="{{ libro.categoria }}" {% endif %}>
        </div>

        <button id='btn-guardar' type="button" class="btn btn-primary" style="align-items: center;" >Guardar</button>

    </div>
    <div  class="col-6 justify-content-center">
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Autor</th>
                <th scope="col">Categoria</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for l in libros %}
                 <tr>
                    <th scope="row">{{ l.id }}</th>
                    <td>{{ l.nombre }}</td>
                    <td>{{ l.autor }}</td>
                    <td>{{ l.categoria }}</td>
                    <td><button class="btn btn-primary btn-editar" id="BotonEditar" object-id="{{l.id}}" href="{% url 'libro' %}">editar</button>
                  </tr>
                {% endfor %}    
            </tbody>
          </table>
    </div>


    <script type="text/javascript">
        //window.location.replace("/libreria/libro/?id=" + id)
        $(document).ready(function () {
            $("#btn-guardar").click(function (e) {
                e.preventDefault();
                let nombre = $("#nombre").val();
                let autor = $("#autor").val();
                let categoria = $("#categoria").val();
                let id = $("#id").val();
                $.ajax({
                    type: "GET",
                    url: "/libreria/guardar_libro/",
                    data: {
                        'nombre': nombre,
                        'autor': autor,
                        'categoria': categoria,
                        'id': id,
                    },
                    dataType: "text/json",
                    success: function (response) {
                        alert()
                    }
                })
            })

            $(".btn-editar").click(function (e) {
                e.preventDefault()
                let id = $(this).attr('object-id');
                let href = $(this).attr('href');
                window.location.replace(href + '?id=' + id)
            });
            $('btn-editar')).click(function () {
                
                context{'id':id}=ids
                $(selector).attr(attributeName);
                
                
            });

        })
    </script>
</body>
</html>